@CHARSET "UTF-8";

[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	background:none;
}

.icon-undo:before {
	color: #BD362F;
}
.icon-trash:before,.icon-remove:before {
	color: #C44742;
}
.icon-plus:before {
	color: #51A351;
}
.icon-plus:before,
.icon-copy:before {
	color: #51A351;
}

.icon-featured:before,
.icon-star:before {
	color: #f89406;
}
.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-checkmark:before {
	color: #51a351;
}
.icon-unpublish:before,
.icon-cancel:before {
	color: #bd362f;
}

.icon-save-new:before,
.icon-plus-2:before {
	color: #51a351;
}
.icon-ban-circle:before,
.icon-minus-sign:before,
.icon-minus-2:before {
	color: #bd362f;
}